
   
   <div class="row mt-5">
     <div class="col-md-6">
         <img src="/wd.jpg" class="img-fluid rounded" alt="About Us" height="50px" width="400px" style="margin-left:100px">
     </div>
    
     <div class="col-md-6"style="margin-left">
         <h3>MEET OUR TEAM</h3>
         
         <p class="font">
           EXPERIENCE  BRILLIANCE <br><br>
   Small team. Big moments. A lifetime of happiness! <br><br>
    we're experts in perfecting the details and creating the extraordinary.
    We exist so that you can enjoy the fun parts of planning and leave the stress behind. <br><br>
   Our clients are intensely busy professionals who depend on us to make their planning process stress-free and to discover what will make their day uniquely special. <br><br>We make planning simple for our clients - and simple isn't easy.
   Born at the intersection of clever and creative,  Event planner  Planning harnesses the power of emotion to make your most important day less stressful and more beautiful.<br><br> At our core, we are a culture of action and imagination.
   Whether you’re organizing a wedding, corporate event, birthday party, or any special occasion, we provide expert planning services tailored to your needs. From venue selection to every detail so you can enjoy a seamless and unforgettable experience.  
   Start planning your perfect event today with Events planner.
   
         </p>
   
         
     </div>
   </div>
  
