

<!-- Fixed EVENTS Header -->
<div class="events-header">
    EVENTS
</div>

<!-- Wedding Section -->
<div class="event-container">
    <div class="section-title">Wedding</div>
    <div class="event-section"> 
        <img src="/wed1.jpg" alt="Wedding Image 1" class="event-image" width="300px">
        <img src="/wed2.jpg" alt="Wedding Image 2" class="event-image" width="300px">
        <img src="/wed3.jpg" alt="Wedding Image 3" class="event-image" width="300px">
        <img src="/wed4.jpg" alt="Wedding Image 4" class="event-image" width="300px">
    </div>
</div>

<!-- Birthday Party Section -->
<div class="event-container">
  <div class="section-title">Birthday Party</div>
  <div class="event-section">  
    <img src="/party1.jpg" alt="Birthday party 1" class="event-image" width="300px">
    <img src="/party2.jpg" alt="Birthday party 2" class="event-image" width="300px">
    <img src="/party3.jpg" alt="Birthday party 3" class="event-image" width="300px">
    <img src="/party4.jpg" alt="Birthday party 4" class="event-image" width="300px">
</div>
</div>
     
<div class="event-container">
    <div class="section-title">Corporate Party</div>
    <div class="event-section">  
      <img src="/c1.jpg" alt="corporate party 1" class="event-image" width="300px">
      <img src="/c2.jpg" alt="corporate party 2" class="event-image" width="300px">
      <img src="/c3.jpg" alt="corporate party 3" class="event-image" width="300px">
      <img src="/c4.jpg" alt="corporate party 4" class="event-image" width="300px">
  </div>
  </div>

  <div class="event-container">
    <div class="section-title">Baby Shower </div>
    <div class="event-section">  
      <img src="/b1.jpg" alt="corporate party 1" class="event-image" width="300px">
      <img src="/b2.jpg" alt="corporate party 2" class="event-image" width="300px">
      <img src="/b3.jpg" alt="corporate party 3" class="event-image" width="300px">
      <img src="/b4.jpg" alt="corporate party 4" class="event-image" width="300px">
  </div>
  </div>


