

  <div class="video-container">
    <video autoplay muted loop>
        <source src="/v1.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <!-- Text Overlay -->
    <div class="video-overlay">
        <div>
            <h1 class="display-3 fw-bold">EVENT PLANNER</h1>
            <p class="lead">We bring your ideas to life with creativity and innovation.</p>
            <a routerLink="/event" class="btn btn-primary btn-lg">Explore More</a>
        </div>
    </div>
</div>

