<div class="hall-container">
  
  <div *ngFor="let h of hall" class="hall-card">
      <img
        class="hall-image"
        [src]="'http://localhost:9002/project/downloadFile/' + h.hallImages[0].name"
        alt="Hall Image"
      />
      <div class="hall-details">
      <h3>hallname: {{h.hallname}}</h3>
      <h4>location: {{h.location}}</h4>
      <h4>contact no: {{h.contactno}}</h4>
      <h4>Guest count: {{h.guestcount}}</h4>
      <h4>Event Investment: {{h.invest}}</h4>
    </div>
    </div>
    </div>
  
  