.bg {
  background: url('/ba.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
}


.button-container {
    display: flex;
    justify-content:left; /* Centers the buttons */
    gap: 15px; /* Creates space between buttons */
    margin-top: 10px; /* Adds space from the form fields */
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: darkblue;
  }